.lil-gui {
	--widget-color: #2d3741;
}

.lil-gui.root {
	--background-color: var(--bgcolor);
	backdrop-filter: var(--blur);
	-webkit-backdrop-filter: var(--blur);
}

.lil-gui .title{
	background: #00000040;
}