/* Style the tab */
.tab {
	border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0 0;
	display: flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	color: rgb(230, 230, 230);
	background-color: inherit;
	float: left;
	border: none;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 50px;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0 0;
	background-color: #00000044;
}

/* Remove border radius from right side of all buttons except the last */
.tab button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* Remove border radius from left side of all buttons except the first */
.tab button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #00000088;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #00000066;
}

.tab .closeTab {
	background-color: #AA000044;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tab .closeTab img {
	/* Adjust the image size according to your needs */
	width: 20px;
}

.tabcontent {
	width: 80vw;
	width: 80svw;
	padding: 10px 25px;
	animation: fadeEffect 0.25s;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	gap: 20px;
	box-sizing: border-box;
}

.youtube {
	width: 100%;
	aspect-ratio: 16 / 9;
}

.youtube-wrapper {
	flex: 1 1 auto;
	overflow: hidden;
	min-width: 40vh;
}

.msgcontent {
	padding: 10px 25px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.closeTab img {
	filter: invert(1);
	opacity: 0.8;
}