/* Style the tab */
.tab {
	border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0 0;
	display: flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	color: rgb(230, 230, 230);
	background-color: inherit;
	float: left;
	border: none;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 14px;

	height: 50px;
	outline: none;
	cursor: pointer;
	padding: 8px;
	transition: 0.3s;
	border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0 0;
	background-color: #00000044;
}

/* Remove border radius from right side of all buttons except the last */
.tab button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* Remove border radius from left side of all buttons except the first */
.tab button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #00000088;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #00000066;
}

.tab .closeTab {
	padding: 12px 14px;
	background-color: #AA000044;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tab .closeTab img {
	/* Adjust the image size according to your needs */
	width: 20px;
}

.tabcontent {
	width: 80vw;
	width: 80svw;
	padding: 10px 25px;
	animation: fadeEffect 0.25s;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	gap: 20px;
	box-sizing: border-box;
}

.landingpage {
	width: 80vw;
	width: 80svw;
	padding: 10px 25px;
	animation: fadeEffect 0.25s;
	overflow-y: auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
}

.landingpage h1 {
	margin: unset;
	font-size: 24px;
	display: none;
}

.youtube-box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.youtube {
	width: 100%;
	aspect-ratio: 16 / 9;
}

.youtube-wrapper {
	flex: 1 1 auto;
	overflow: hidden;
}

.links {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.msgcontent {
	padding: 10px 25px;
}

.explanation-text {
	text-align: justify;
	max-width: 500px;
}

.msgcontent h2 {
	margin: unset;
	font-size: 16px;
}

.control-item {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 5px;
}

.grey-text {
	color: #AAA;
	font-weight: lighter;
}

button {
	background-color: #333;
	border: 1px solid #888;
	color: #FFF;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	background-color: #555;
}

button:active {
	background-color: #222;
	border: 1px solid #666;
	transform: scale(0.97);
	transition: 0s;
}

.msgcontent .card-icon {
	display: block;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}

.control-item button {
	flex-grow: 1;
	/* this will make the buttons stretch to fill the remaining space */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.closeTab img {
	filter: invert(1);
	opacity: 0.8;
}

/* Styles for the select dropdown */
.list {
	max-width: 500px;
	width: 100%;
	margin-bottom: 4px;
	background-color: #333;
	border: 1px solid #888;
	color: #FFF;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.list:hover {
	background-color: #555;
}

.list:active {
	background-color: #222;
	border: 1px solid #666;
	transform: scale(0.97);
	transition: 0s;
}

/* Style the dropdown options */
.list option {
	background-color: #333;
	color: #FFF;
}

.list option:hover,
.list option:checked,
.list option:focus {
	background-color: #555;
}

input[type="range"] {
	width: 80%;
	/* Adjust based on preference */
	margin: 10px 0;
	cursor: pointer;
	background-color: #333;
	border-radius: 5px;
	outline: none;
	transition: 0.3s;
	-webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	background-color: #555;
	border: 1px solid #888;
	border-radius: 5px;
	cursor: pointer;
	-webkit-appearance: none;
}

input[type="range"]:hover::-webkit-slider-thumb {
	background-color: #777;
}

input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background-color: #555;
	border: 1px solid #888;
	border-radius: 5px;
	cursor: pointer;
}

input[type="range"]:hover::-moz-range-thumb {
	background-color: #777;
}

input[type="range"]::-ms-thumb {
	width: 20px;
	height: 20px;
	background-color: #555;
	border: 1px solid #888;
	border-radius: 5px;
	cursor: pointer;
}